// Safely visually hide an element
@mixin visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Re-format the browser ol/ul list styles
@include rest-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Pretty old school to fix float based issues
// Shouldn't really be needed in modern CSS layouts
@include clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}
