// Example SCSS vars used in mixin
$font-base: 16px !default;
$mqs-min: (
  small-up: 480px,
  lap-up: 768px,
  desk-up: 1024px,
);

// Full media-query mixin found in `./media-query`
@mixin media-query($media-query) {
  @each $mq, $width in $mqs-min {
    @if $media-query == $mq {
      @media only screen and (min-width: $width) {
        @content;
      }
    }
  }
}

// Actual mixin (above dependencies ideally live elsewhere)
@mixin responsive-font-sizes($args: ()) {
  $args: map-merge(
    (
      base: $font-base,
      small: null,
      lap: null,
      desk: null,
    ),
    $args
  );
  $mqs: (
    small-up: map-get($args, small),
    lap-up: map-get($args, lap),
    desk-up: map-get($args, desk),
  );

  font-size: map-get($args, base);

  @each $mq, $font-size in $mqs {
    @if $font-size {
      @include media-query($mq) {
        font-size: $font-size;
      }
    }
  }
}

// Code Examples 
.heading-a {
  @include responsive-font-sizes(
    (
      base: 20px,
      lap: 28px,
    )
  )
}

// Outputted CSS
.heading-a {
  font-size: 20px;

  @media only screen and (min-width: 768px) {
    font-size: 28px;
  }
}

.heading-b {
  @include responsive-font-sizes(
    (
      base: 14px,
      small: 16px,
      lap: 18px,
      desk: 20px,
    )
  )
}

// Outputted CSS
.heading-b {
  font-size: 14px;

  @media only screen and (min-width: 537px) {
    font-size: 16px;
  }

  @media only screen and (min-width: 768px) {
    font-size: 18px;
  }

  @media only screen and (min-width: 1024px) {
    font-size: 20px;
  }
}
