@mixin triangle($size: 10px, $color: black, $direction: right) {
  height: 0;
  width: 0;

  @if $direction == up or $direction == down {
    border-left: $size solid transparent;
		border-right: $size solid transparent;
  }

  @if $direction == left or $direction == right {
    border-bottom: $size solid transparent;
    border-top: $size solid transparent;
  }

  @if $direction == up {
    border-bottom: $size solid $color;
		margin-bottom: 0 - round( $size / 2.5 );
  } @else if $direction == down {
    border-top: $size solid $color;
    margin-top: 0 - round( $size / 2.5 );
  } @else if $direction == left {
    border-right: $size solid $color;
		margin-left: -$size;
  } @else if  $direction == right {
    border-left: $size solid $color;
		margin-right: -$size;
  }
}
